@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

body {
    box-sizing: border-box;
    padding: 25px;
}

.wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header,
main,
.hr {
    width: 900px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    flex-direction: row;
}

.header-logo-text {
    margin-left: 10px;
}

h3 {
    margin: 0;
    font-family: 'Yellowtail', cursive;
    font-size: 2.2rem;
    line-height: 0.9;
    margin-left: -5px;
}

.subtext {
    font-family: 'PT Sans Narrow', sans-serif;
    text-transform: uppercase;
    font-size: 0.7rem;
    color: #999;
}

.rss-icon {
    margin-left: 8px;
}

.hr {
    height: 12px;
    background-image: url(./assets/hr-img.png);
    margin: 30px;
}